$white: white;
$gold: #B79C50;
$orange: #BA4315;
$grey: #7C8A94;
$black: black;

$x-small: 12px;
$small: 18px;
$medium: 25px;
$large: 35px;
$x-large: 60px;

$standard-shadow: 3px 0 8px $grey, -2px 0 5px $grey;
