// this file is organized by 'page' sections and is nested throughout
@use '_variables' as *;
@use '_mixins' as *;
@import '_normalize';
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

// basic for all pages
body {
  background-color: $white;
  color: $black;
  font-family: 'Nunito', sans-serif;
  font-size: $small;
}
// error modal for error handling with fetchAPIs
.error-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  width:100vw;
  height: 100vh;
  z-index: 2;
  @include flex(center, center);
}

.error-message {
  font-size: $large;
  color: $orange;
  margin: 10px;
}

// the landing page: the log in section
.log-in-section {
  @include flex(center, center, column);
  @include backgroundImage(center);
  height: 100vh;

  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: $x-large;
    font-weight: bold;
    margin: 3% 0;
  }

  .log-in-form {
    @include flex(space-evenly, center, column);
    box-shadow: $standard-shadow;
    background-color: $white;
    height: 25vh;
    width: 30vw;
    padding: 2%;

    input {
      border-style: solid;
      border-width: thin;
      cursor: pointer;
    }

    .button {
      @include button();
      padding: 2% 4%;
    }
  }
  .popup-response {
    color: $orange;
    margin: 2% 0;
  }
}

// the header to be paired with both the main-page and new-trip
header {
  background-color: $gold;
  @include flex(space-between, flex-end);
  padding-bottom: 1.5%;
  height: 25vh;

  .greeting-cost-container {
    @include flex(flex-end, flex-start, column);
    width: 55%;
    padding-left: 3%;

    h1 {
      color: $white;
      font-family: 'Permanent Marker', cursive;
      font-size: $x-large;
      font-weight: bold;
      margin: 1% 0;
    }

    h2 {
      font-size: $small;
      margin: 0.5% 0;
    }
  }

  nav {
    @include flex(flex-end, center);
    width: 45%;

    .navigation {
      background-color: $white;
      @include flex(center, center);
      width: 33%;

      .navigation-button {
        @include button();
        border: none;
        padding: 5% 5%;
        margin: 0;
      }
    }

    .navigation-icon {
      padding: 2.5%;
      width: 16%;
      margin: 0;
    }
  }
}

// the home-page view (has the above header)
.home-page-section {
  @include flex(space-evenly, center, column);
  height: 70vh;
  width: 100vw;

  .trip-card {
    background-color: $white;
    border: solid black 1px;
    box-shadow: $standard-shadow;
    width: 60%;
    height: 65vh;
    margin-left: 20%;

    .info-image-container {
      @include flex(space-around, center);
      height: 50vh;

      .destination-status-date-container {
        @include flex(space-around, flex-start, column);
        height: 60%;
        width: 40%;

        h3 {
          font-size: $x-large;
          font-weight: bold;
        }

        p {
          font-size: $small;
          color: $grey;
          margin: 2% 0;
        }
      }

      .trip-image {
        max-width: 50%;
        max-height: 90%;
      }
    }

    .message-cost-container {
      @include flex(space-around, center, column);
      height: 15vh;
      padding: 2% 3%;

      p {
        font-size: $medium;
        font-weight: bold;
      }

      .est-cost {
        font-size: $small;
        color: $grey;
      }
    }
  }
}

// new-trip form page view (has the above header)
.new-trip-form-section {
  @include flex(space-evenly, center, column);
  height: 70vh;

  .form-banner {
    height: 15vh;
    @include flex(center, center);

    h2 {
      font-size: $large;
    }

    img {
      padding: 1%;
      width: 6%;
    }
  }

  .new-trip-form {
    @include flex(space-around, flex-start, column);
    background-color: $white;
    box-shadow: $standard-shadow;
    height: 40vh;
    width: 50%;
    padding: 2%;

    input,
    select {
      border-style: solid;
      border-width: thin;
      cursor: pointer;
    }

    input::placeholder {
      color: $grey;
    }

    .light-input {
      color: $grey;
    }

    .form-button-container {
      @include flex(space-between, center, row);

      .button {
        @include button();
      }
    }

    .popup-response {
      color: $orange;
    }
  }
}

// the footer on every page view
footer {
  @include flex(center, center);
  height: 5vh;
  font-size: $x-small;
}

// other
.hidden {
  display: none;
}

.glide__arrow {
  background-color: $black;
  opacity: 0.4;
  &:focus {
    background-color: $black;
    opacity: 0.8;
  }
}

// the following are media queries for responsive design
@media screen  and (min-width: 600px) and (max-width: 1000px) {
  header {
    nav {
      @include flex(flex-end, flex-end, column);
      .navigation {
        width: 50%;
      }
    }
  }
  .log-in-section {
    .log-in-form {
      width: 50%;
    }
  }
  .new-trip-form-section {
    .new-trip-form {
      width: 75%;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 599px) {
  header {
    @include flex(space-evenly, center, column);
    .greeting-cost-container {
      @include flex(center, center, column);
      width: 100%;
      padding-left: 0;
    }
    nav {
      @include flex(center, center);
      width: 100%;
      .navigation {
        width: 30%;
      }
    }
  }
  .home-page-section {
    .trip-card {
      .info-image-container {
        @include flex(center, center, column-reverse);
        height: 55%;
        .trip-image {
          width: 20%;
        }
        .destination-status-date-container {
          @include flex(center, center, column);
        }
      }
      .message-cost-container {
        @include flex(space-evenly, center, column);
        height: 45%;
      }
    }
  }
  .log-in-section {
    .log-in-form {
      width: 50%;
    }
  }
  .new-trip-form-section {
    .form-banner {
      @include flex(center, center, column);
      img {
        width: 15%;
      }
    }
    .new-trip-form {
      width: 75%;
      .form-button-container {
        @include flex(space-evenly, flex-start, column);
        .button {
          margin: 1% 0;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  header {
    @include flex(space-evenly, center, column);
    height: 33vh;
    .greeting-cost-container {
      @include flex(center, center, column);
      width: 100%;
      padding-left: 0;
      h1 {
        font-size: $large;
      }
    }
    nav {
      @include flex(center, center, column);
      width: 100%;
      .navigation {
        width: 40%;
      }
    }
  }
  .home-page-section {
    height: 63vh;
    .trip-card {
      .info-image-container {
        @include flex(center, center, column-reverse);
        .destination-status-date-container {
          @include flex(center, center, column);
          h3 {
            font-size: $large;
            font-weight: bold;
          }

          p {
            font-size: $medium;
          }
        }
      }
      .message-cost-container {
        @include flex(flex-end, center, column);

        p {
          font-size: $medium;
        }
      }
    }
  }
  .log-in-section {
    .log-in-banner {
      @include flex(center, center, column);
      .navigation-icon {
        width: 20%;
      }
    }
    .log-in-form {
      width: 75%;
    }
  }
  .new-trip-form-section {
    height: 63vh;
    .form-banner {
      @include flex(center, center, column);
      img {
        width: 15%;
      }
      h2 {
        font-size: $medium;
      }
    }
    .new-trip-form {
      width: 75%;
      .form-button-container {
        @include flex(space-evenly, flex-start, column);
        .button {
          margin: 1% 0;
        }
      }
    }
  }
}
